body,
html {
  margin: 0px;
  height: 100%;
  width: 100%;
  /* overflow: hidden; */
  font-family: Arial, sans-serif;
}

svg {
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* max-height: 100%; */
  width: 100%;
  /* display: block; */
}

svg path,
svg rect {
  fill-opacity: 0.4;
  fill: #0066a7;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#drop-area {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vw;
  height: 80vh;
  border: 2px dashed #ccc;
  text-align: center;
  padding: 20px;
  cursor: pointer;
}

#file-input {
  display: none;
}

#file-label {
  font-weight: bold;
  cursor: pointer;
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  position: fixed;
  width: 100vw;
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.header * {
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
  -webkit-user-drag: none;
}

.custom-icon img {
  width: 60px;
  height: 60px;
}

.search-bar {
  flex-grow: 1;
  padding: 0 10px;
  margin-top: 20px;
}

#searchInput {
  max-width: 100%;
}

#suggestions {
  display: none;
  background-color: #f8f9fa; /* Light gray background color */
  border: 1px solid #ccc; /* Gray border */
  position: absolute;
  /* width: 100%; */
  z-index: 1; /* Ensure it appears above other elements */
}

.window-controls {
  position: fixed;
  right: 10px;
  top: 2px;
}

.window-controls button {
  font-size: 10px;
  cursor: pointer;
  margin: 0 2px;
  background-color: #fff; /* Change this to your desired button color */
  color: #000;
  border: none;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.window-controls button:hover {
  background-color: #bebebe;
}

.content {
  padding-top: 80px;
}
